# Individual Playwrights in the Context of The Evolution of The French Comedy
In this analysis we will explore the playwrights in the context of the evolution of the five-act comedy in verse. We will focus on the following features:
- The number of dramatic characters
- The mobility coefficient
- The standard range of the number of speaking characters
- The percentage of polylogues
- The percentage of monologues.

Our agenda:
1. For each time period and each feature, we will identify the comedy that that represents the maximum, the minimum, and the comedies that are the closest to the mean.
2. For each time period, we create a summary for individual playwrights that represent two groups (more prolific, i.e., those who wrote at least two five-act verse comedies, and less prolific, i.e., those who wrote only one such comedy).
    - Calculate the mean number of dramatic characters, mean mobility coefficient, the standard range of the number of speaking characters (sigma), the mean percentage of polylogues, and the mean percentage of monologues.
    - Calculate open-form scores for each playwright that tell us how experimental each playwright is.
3. Examine the evolution of Jean-François Collin d’Harleville whose oeuvre spanned two literary periods.

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re

### Define Functions

In [2]:
# update the boundaries as we determined based on our hypothesis testing
def determine_period(row):
    if row <= 1695:
        period = 1
    elif row >= 1696 and row <= 1795:
        period = 2
    else:
        period = 3
    
    return period

In [3]:
def make_list(row):
    speech_dist = []
    for value in row[1:-1].split('\n '):
        speech_dist.append([int(num) for num in re.findall('[0-9]+', value)])
        
    return speech_dist

In [4]:
def speech_distribution_by_period(period_df):
    all_distributions = []
    for row in period_df['speech_distribution']:
        speech_dist_df = pd.DataFrame(row).T
        # rename columns to make sure they start with 1 and not 0
        speech_dist_df.columns = speech_dist_df.iloc[0, :]
        # no need to include the variants as a row - they will be column names
        only_counts_df = pd.DataFrame(speech_dist_df.iloc[1, :])
        only_counts_df.columns = ['raw_numbers']
        only_counts_df['percentage'] = only_counts_df['raw_numbers'] / only_counts_df.sum().values[0]
        all_distributions.append(round(only_counts_df['percentage'], 4))
    period_df_dist = pd.concat(all_distributions, axis=1).fillna(0)
    # take the mean for each period
    mean_per_type = pd.DataFrame(period_df_dist.mean(axis=1)).T 
    mean_per_type.index.name = 'number_of_speakers'
    mean_per_type = (mean_per_type * 100).round(2)
        
    return mean_per_type

In [5]:
def sigma_iarkho(df):
    """
    The function allows calculating standard range following iarkho's procedure.
    Parameters:
        df  - a dataframe where columns are variants, i.e., the distinct number of speakers in the ascending order, 
              e.g. [1, 2, 3, 4, 5] and values weights corresponding to these variants, i.e.,
              the number of scenes, e.g. [20, 32, 18, 9, 1]
    Returns:
        sigma - standard range per iarkho
    """
    weighted_mean_variants = np.average(df.columns.tolist(), weights=df.values[0])
    differences_squared = [(variant - weighted_mean_variants)**2 for variant in df.columns]
    weighted_mean_difference = np.average(differences_squared, weights=df.values[0])
    sigma = round(weighted_mean_difference**0.5, 2)

    return sigma

In [6]:
def sigma_for_playwrights(df, playwrights_lst):
    sigmas = []
    for playwright in playwrights_lst:
        selection = df[(df.last_name == playwright[0]) & (df.first_name == playwright[1])].copy()
        sigma = selection.pipe(speech_distribution_by_period).pipe(sigma_iarkho)
        sigmas.append(sigma)
        
    summary = pd.DataFrame(sigmas, columns=['sigma_iarkho'])
    summary['z_score'] = (summary['sigma_iarkho'] - df['sigma_iarkho'].mean()) / df['sigma_iarkho'].std()
    summary.index = playwrights_lst
    
    return summary

In [7]:
def summary_feature(df, feature):
    print('Mean, standard deviation, median, min and max values for the period:')
    display(df[feature].describe()[['mean', 'std', '50%','min', 'max']].round(2))
    print('Period Max:')
    display(df[df[feature] == df[feature].max()][['last_name', 'first_name', 'title', 'date', feature]].round(2))
    print('Period Min:')
    display(df[df[feature] == df[feature].min()][['last_name', 'first_name', 'title', 'date', feature]].round(2))
    print('The closest to the mean:')
    df_copy = df.copy()
    df_copy['diff_with_mean'] = df_copy[feature].apply(lambda x: np.absolute(x - df_copy[feature].mean()))
    display(df_copy[df_copy['diff_with_mean'] == df_copy['diff_with_mean'].min()][['last_name', 'first_name', 'title', 'date', feature]].round(2))

In [8]:
def authors_data(data_df, feature):
    overall_mean = round(data_df[feature].mean(), 2)
    overall_std = round(data_df[feature].std(), 2)
    statistics = ['mean'] 
    all_authors = pd.DataFrame(data_df.groupby(['last_name', 'first_name'])[feature].mean())
    all_authors.columns= ['mean']
    all_authors['z_score'] = (all_authors['mean'] - overall_mean) / overall_std
    
    return  all_authors

In [9]:
def playwrights_place(df, with_z_score=True):
    if with_z_score:
        column = 'z_score'
        sigma_col = column
    else:
        column = ['mean']
        sigma_col = 'sigma_iarkho'
    summary = pd.DataFrame(authors_data(df, 'num_present_characters')[column])
    summary.columns = ['num_present_characters']
    # make sure the order of the playwrights is the same
    
    ind = summary.index
    summary['mobility_coefficient'] = authors_data(df, 'mobility_coefficient', 
                                                        ).loc[ind, column]
    summary['sigma_iarkho'] = sigma_for_playwrights(df, ind)[sigma_col]
    summary['polylogues'] = authors_data(df, 'percentage_polylogues', 
                                                         ).loc[ind, column]
    summary['monologues'] = authors_data(df, 'percentage_monologues', 
                                                         ).loc[ind, column]
    summary = summary.round(2)
    if with_z_score:
        summary['monologues'] = summary['monologues'].apply(lambda x: -x)
        summary['open_form_score'] = round(summary.apply(lambda x: x.mean(), axis=1), 2)
        summary = summary.sort_values(by='open_form_score', ascending=False)
        
    return summary

### Load Data

In [10]:
data = pd.read_csv('../French_Comedies/Data/French_Comedies_Data.csv')

In [11]:
data.shape

(279, 25)

In [12]:
# include only five act comedies and only original comedies
original_comedies = data[(data['num_acts'] ==5)&
                         (data['translation/adaptation/contrastive'] == 0)].copy()

In [13]:
original_comedies.head(3)

,index,title,last_name,first_name,date,translation/adaptation/contrastive,num_acts,url,num_present_characters,num_scenes_text,...,percentage_above_two_speakers,av_percentage_non_speakers,sigma_iarkho,number_scenes_with_discontinuous_change_characters,percentage_scenes_with_discontinuous_change_characters,total_utterances,num_verse_lines,dialogue_vivacity,five_year_intervals,decades
2,F_3,Mélite ou Les fausses lettres,Corneille,Pierre,1629,0,5,http://www.theatre-classique.fr/pages/document...,8,35,...,23.08,0.513,0.906,12,30.769,483.0,1822.0,0.265,1630,1630
3,F_5,La Veuve ou Le Traître trahi,Corneille,Pierre,1633,0,5,http://www.theatre-classique.fr/pages/document...,12,40,...,20.00,3.519,1.062,12,26.667,521.0,2010.0,0.259,1635,1640
4,F_9,La Célimène,Rotrou,Jean de,1633,0,5,http://www.xn--thtre-documentation-cvb0m.com/c...,10,36,...,22.22,8.963,1.092,5,11.111,NaN,NaN,NaN,1635,1640

In [14]:
original_comedies.shape

(257, 25)

In [15]:
sorted_comedies = original_comedies.sort_values(by='date')

In [16]:
sorted_comedies['period'] = sorted_comedies['date'].apply(determine_period)

In [17]:
sorted_comedies = sorted_comedies.rename(columns={'num_scenes_iarkho': 'mobility_coefficient', 
                                                  'percentage_non_duologues': 'percentage_non_dialogues',
                                                  'percentage_above_two_speakers': 'percentage_polylogues'})

In [18]:
# remove white spaces
sorted_comedies['last_name'] = sorted_comedies['last_name'].str.strip()
sorted_comedies['first_name'] = sorted_comedies['first_name'].str.strip()
sorted_comedies['first_name'] = sorted_comedies['first_name'].fillna('')
sorted_comedies['speech_distribution'] = sorted_comedies['speech_distribution'].apply(make_list)

In [19]:
period_one = sorted_comedies[sorted_comedies.period == 1].copy()
period_two = sorted_comedies[sorted_comedies.period == 2].copy()
period_three = sorted_comedies[sorted_comedies.period == 3].copy()

## Part 1. The Maximum, The Minimum, and The Closest to The Mean

### Period 1 (1629 to 1695)

#### Number of Dramatic Characters

In [20]:
summary_feature(period_one, 'num_present_characters')

Mean, standard deviation, median, min and max values for the period:

mean    11.91
std      4.05
50%     11.00
min      7.00
max     30.00
Name: num_present_characters, dtype: float64

Period Max:

,last_name,first_name,title,date,num_present_characters
80,Chalussay,Le Boulanger de,Elomire Hypocondre,1670,30

Period Min:

,last_name,first_name,title,date,num_present_characters
25,Corneille,Pierre,La Suite du menteur,1643,7
70,Montfleury,,L’École des filles,1666,7
81,Marcel,,Le Mariage sans mariage,1671,7

The closest to the mean:

,last_name,first_name,title,date,num_present_characters
3,Corneille,Pierre,La Veuve ou Le Traître trahi,1633,12
6,Corneille,Pierre,La Galerie du Palais,1634,12
54,Boisrobert,François Le Métel de,Les Apparences trompeuses,1655,12
60,Molière,,Le Dépit amoureux,1658,12
65,Montfleury,,Le Mari sans femme,1663,12
66,Boursault,Edmé,Les Nicandres,1663,12
68,Boursault,Edmé,Les deux frères gémeaux,1665,12
79,Poisson,Raymond,Les Pipeurs ou les Femmes coquettes,1670,12

#### Mobility Coefficient

In [21]:
summary_feature(period_one, 'mobility_coefficient')

Mean, standard deviation, median, min and max values for the period:

mean    41.9
std     11.6
50%     40.0
min     19.0
max     85.0
Name: mobility_coefficient, dtype: float64

Period Max:

,last_name,first_name,title,date,mobility_coefficient
86,Hauteroche,"Noël Lebreton, sieur de",Crispin musicien,1674,85

Period Min:

,last_name,first_name,title,date,mobility_coefficient
18,Guérin de Bouscal,Guyon,Dom Quixote de la Manche,1639,19

The closest to the mean:

,last_name,first_name,title,date,mobility_coefficient
39,Boisrobert,François Le Métel de,La Folle Gageure,1651,42
45,Corneille,Thomas,Le Charme de la voix,1653,42
79,Poisson,Raymond,Les Pipeurs ou les Femmes coquettes,1670,42

#### Standard Range of the Number of Speaking Characters (Sigma)

In [22]:
summary_feature(period_one, 'sigma_iarkho')

Mean, standard deviation, median, min and max values for the period:

mean    1.25
std     0.40
50%     1.19
min     0.60
max     3.54
Name: sigma_iarkho, dtype: float64

Period Max:

    last_name       first_name                title  date  sigma_iarkho
80  Chalussay  Le Boulanger de  Elomire Hypocondre   1670          3.54

Period Min:

   last_name first_name             title  date  sigma_iarkho
69  Quinault   Philippe  La Mère coquette  1665           0.6

The closest to the mean:

     last_name first_name                title  date  sigma_iarkho
89  Montfleury             Crispin gentilhomme  1677          1.25

#### The Percentage of Polylogues

In [23]:
summary_feature(period_one, 'percentage_polylogues')

Mean, standard deviation, median, min and max values for the period:

mean    42.36
std     13.87
50%     41.46
min     10.64
max     86.21
Name: percentage_polylogues, dtype: float64

Period Max:

,last_name,first_name,title,date,percentage_polylogues
41,Boisrobert,François Le Métel de,Les trois Orontes,1652,86.21

Period Min:

   last_name first_name        title  date  percentage_polylogues
7  Corneille     Pierre  La Suivante  1634                  10.64

The closest to the mean:

   last_name  first_name             title  date  percentage_polylogues
26   Ouville  Antoine d'  La Dame suivante  1643                  42.31

#### The Percentage of Monologues

In [24]:
summary_feature(period_one, 'percentage_monologues')

Mean, standard deviation, median, min and max values for the period:

mean    13.41
std      9.55
50%     12.12
min      0.00
max     33.33
Name: percentage_monologues, dtype: float64

Period Max:

  last_name first_name        title  date  percentage_monologues
4    Rotrou    Jean de  La Célimène  1633                  33.33

Period Min:

,last_name,first_name,title,date,percentage_monologues
18,Guérin de Bouscal,Guyon,Dom Quixote de la Manche,1639,0.0
35,Scarron,Paul,L'Héritier ridicule ou la Dame intéressée,1649,0.0
42,Scarron,Paul,Don Japhet d'Arménie,1652,0.0
46,Boisrobert,François Le Métel de,La Belle plaideuse,1654,0.0
61,Corneille,Thomas,Le Galant doublé,1660,0.0
69,Quinault,Philippe,La Mère coquette,1665,0.0
71,Molière,,Le Misanthrope,1666,0.0
73,Corneille,Thomas,Le Baron d'Albikrac,1668,0.0
77,Corneille,Thomas,La Comtesse d'Orgueil,1670,0.0

The closest to the mean:

,last_name,first_name,title,date,percentage_monologues
19,Mareschal,André,Le Véritable Capitan Matamore,1640,13.33

## Period 2 (1696 to 1795)

#### Number of Dramatic Characters

In [25]:
summary_feature(period_two, 'num_present_characters')

Mean, standard deviation, median, min and max values for the period:

mean    10.53
std      2.89
50%     10.00
min      6.00
max     24.00
Name: num_present_characters, dtype: float64

Period Max:

,last_name,first_name,title,date,num_present_characters
201,Cubières-Palmézeaux,Michel de,L'Homme d'état imaginaire,1789,24

Period Min:

,last_name,first_name,title,date,num_present_characters
158,Néricault Destouches,,Le Mari confident,1758,6
163,Bastide,Jean-François de,Le Jeune homme,1766,6

The closest to the mean:

,last_name,first_name,title,date,num_present_characters
106,Dancourt,,Les Enfants de Paris ou la Famille à la mode,1699,11
126,Néricault Destouches,,Les Philosophes amoureux,1729,11
128,Du Fresny,Charles,Le Faux Sincère,1731,11
132,Rousseau,Jean-Baptiste,Les ayeux chimériques ou la comtesse de Critognac,1735,11
138,Néricault Destouches,,L'Ambitieux et l'Indiscrète,1737,11
187,Bièvre,Marquis de,Le Séducteur,1783,11
192,Borel,,Le Méfiant,1786,11
197,Collin d’Harleville,Jean-François,L'Optimiste ou l'Homme content de tout,1788,11
202,Fabre d'Églantine,,Le Philinte de Molière,1790,11

#### Mobility Coefficient

In [26]:
summary_feature(period_two, 'mobility_coefficient')

Mean, standard deviation, median, min and max values for the period:

mean    49.29
std     11.32
50%     48.50
min     29.00
max     91.00
Name: mobility_coefficient, dtype: float64

Period Max:

    last_name first_name            title  date  mobility_coefficient
164  Chauveau             L'homme de cour  1767                    91

Period Min:

,last_name,first_name,title,date,mobility_coefficient
142,Nivelle de la Chaussée,Pierre Claude,Mélanide,1741,29

The closest to the mean:

,last_name,first_name,title,date,mobility_coefficient
104,Rousseau,Jean-Baptiste,Le Flatteur,1696,49
113,Regnard,Jean-François,Le Légataire Universel,1708,49
124,Néricault Destouches,,Le Philosophe marié,1727,49
140,Boissy,Louis de,Les Dehors trompeurs,1740,49
148,Voltaire,,La Prude,1747,49
156,La Noue,Jean-Baptiste,La Coquette corrigée,1757,49
173,Bret,Antoine,Le protecteur bourgeois ou la confiance trahie,1772,49
209,Reynier,L.,L'Avare fastueux,1794,49

#### Sigma

In [27]:
summary_feature(period_two, 'sigma_iarkho')

Mean, standard deviation, median, min and max values for the period:

mean    1.12
std     0.29
50%     1.10
min     0.63
max     1.98
Name: sigma_iarkho, dtype: float64

Period Max:

,last_name,first_name,title,date,sigma_iarkho
154,Rousseau,Jean-Baptiste,La Femme qui ne parle point ou l'hypocondre,1751,1.98

Period Min:

    last_name     first_name                   title  date  sigma_iarkho
179     Dorat  Claude-Joseph  Roséïde ou l'Intrigant  1779          0.63

The closest to the mean:

                last_name first_name        title  date  sigma_iarkho
120  Néricault Destouches             Le Médisant  1715          1.12

#### The Percentage of Polylogues

In [28]:
summary_feature(period_two, 'percentage_polylogues')

Mean, standard deviation, median, min and max values for the period:

mean    31.62
std     11.03
50%     31.50
min      8.70
max     58.06
Name: percentage_polylogues, dtype: float64

Period Max:

,last_name,first_name,title,date,percentage_polylogues
132,Rousseau,Jean-Baptiste,Les ayeux chimériques ou la comtesse de Critognac,1735,58.06

Period Min:

,last_name,first_name,title,date,percentage_polylogues
180,Delon,,"Le Financier, comédie en cinq actes et en vers",1779,8.7

The closest to the mean:

    last_name     first_name               title  date  percentage_polylogues
107   Regnard  Jean-François  Démocrite amoureux  1700                  31.58

#### The Percentage of Monologues

In [29]:
summary_feature(period_two, 'percentage_monologues')

Mean, standard deviation, median, min and max values for the period:

mean    22.08
std      7.75
50%     21.88
min      3.23
max     40.48
Name: percentage_monologues, dtype: float64

Period Max:

    last_name        first_name           title  date  percentage_monologues
163   Bastide  Jean-François de  Le Jeune homme  1766                  40.48

Period Min:

,last_name,first_name,title,date,percentage_monologues
132,Rousseau,Jean-Baptiste,Les ayeux chimériques ou la comtesse de Critognac,1735,3.23

The closest to the mean:

,last_name,first_name,title,date,percentage_monologues
207,Collin d’Harleville,Jean-François,Le Vieux célibataire,1792,22.03

### Period Three (1796 to 1847)

#### Number of Dramatic Characters

In [30]:
summary_feature(period_three, 'num_present_characters')

Mean, standard deviation, median, min and max values for the period:

mean    12.11
std      4.28
50%     11.00
min      6.00
max     28.00
Name: num_present_characters, dtype: float64

Period Max:

,last_name,first_name,title,date,num_present_characters
259,Gosse,Étienne,"Les Jésuites, ou les autres Tartuffes",1827,28

Period Min:

    last_name first_name      title  date  num_present_characters
278    Augier      Émile  Gabrielle  1849                       6

The closest to the mean:

,last_name,first_name,title,date,num_present_characters
215,Fabre d'Églantine,,Les Précepteurs,1799,12
228,Étienne,Charles-Guillaume,Les Deux gendres,1810,12
242,Théaulon,Emmanuel,"L'Artiste ambitieux, ou l'Adoption",1820,12
250,Bonjour,Casimir,L’Éducation ou les deux Cousine,1823,12
258,Bonjour,Casimir,L’Argent ou les Moeurs du Jour,1826,12

#### Mobility Coefficient

In [31]:
summary_feature(period_three, 'mobility_coefficient')

Mean, standard deviation, median, min and max values for the period:

mean    54.58
std      9.99
50%     53.50
min     34.00
max     86.00
Name: mobility_coefficient, dtype: float64

Period Max:

,last_name,first_name,title,date,mobility_coefficient
259,Gosse,Étienne,"Les Jésuites, ou les autres Tartuffes",1827,86

Period Min:

    last_name first_name                     title  date  mobility_coefficient
240     Duval  Alexandre  Le Chevalier d'industrie  1818                    34

The closest to the mean:

,last_name,first_name,title,date,mobility_coefficient
227,Picard,Louis-Benoît,Les Capitulations de conscience,1809,55
245,Delavigne,Casimir,Les Comédiens,1820,55

#### Sigma

In [32]:
summary_feature(period_three, 'sigma_iarkho')

Mean, standard deviation, median, min and max values for the period:

mean    1.33
std     0.32
50%     1.26
min     0.84
max     2.54
Name: sigma_iarkho, dtype: float64

Period Max:

     last_name first_name                 title  date  sigma_iarkho
262  Delavigne    Casimir  La Princesse Aurélie  1828          2.54

Period Min:

,last_name,first_name,title,date,sigma_iarkho
241,Michaud,L. G.,"Le Faux ami de cour, ou le Danger des liaisons",1818,0.84

The closest to the mean:

    last_name first_name                         title  date  sigma_iarkho
275       Rey    Charles  La séduction et l'amour vrai  1847          1.33

#### The Percentage of Polylogues

In [33]:
summary_feature(period_three, 'percentage_polylogues')

Mean, standard deviation, median, min and max values for the period:

mean    38.09
std      8.70
50%     37.31
min     18.46
max     65.00
Name: percentage_polylogues, dtype: float64

Period Max:

,last_name,first_name,title,date,percentage_polylogues
239,Merville,,"La Famille Glinet, ou Les premiers temps de la...",1818,65.0

Period Min:

,last_name,first_name,title,date,percentage_polylogues
252,Bonjour,Casimir,"Le Mari à bonnes fortunes, ou La Leçon",1824,18.46

The closest to the mean:

,last_name,first_name,title,date,percentage_polylogues
258,Bonjour,Casimir,L’Argent ou les Moeurs du Jour,1826,37.88

#### The Percentage of Monologues

In [34]:
summary_feature(period_three, 'percentage_monologues')

Mean, standard deviation, median, min and max values for the period:

mean    20.08
std      5.95
50%     18.94
min     11.36
max     43.08
Name: percentage_monologues, dtype: float64

Period Max:

,last_name,first_name,title,date,percentage_monologues
252,Bonjour,Casimir,"Le Mari à bonnes fortunes, ou La Leçon",1824,43.08

Period Min:

    last_name first_name      title  date  percentage_monologues
278    Augier      Émile  Gabrielle  1849                  11.36

The closest to the mean:

    last_name first_name        title  date  percentage_monologues
244     Gosse    Étienne  Le Flatteur  1820                   20.0

### Summary

The maximum for all features:
- Number of Dramatic Characters (period one: 30 (*Elomire Hypocondre* by Chalussay), period two: 24 (*L'Homme d'état imaginaire* by Cubières-Palmézeaux, period three: 	28 (*Les Jésuites, ou les autres Tartuffes*) by Gosse)
    - Mobility Coefficient (period one: 85 (*Crispin musicien* by Hauteroche), period two: 91 (*L'homme de cour*) by Chauveau, period three: 86 (*Les Jésuites, ou les autres Tartuffes* by Gosse))
    - Sigma (period one: 3.54 (*Elomire Hypocondre* by Chalussay), period two: 1.98 (*La Femme qui ne parle point ou l'hypocondre* by Rousseau), period three: 2.54 (*La Princesse Aurélie* by Delavigne))
    - The percentage of polylogues (period one: 86.21% (*Les trois Orontes* by Boisrobert), period two: 58.06% (*Les ayeux chimériques ou la comtesse de Critognac* by Rousseau), period three: 65.0% *La Famille Glinet* by Merville)
    - The percentage of monologues (period one: 33.33% (*La Célimène* by Rotrou), period two: 40.48% (*Le Jeune homme* by Bastide), period three: 43.08% (*Le Mari à bonnes fortunes, ou La Leçon* by Bonjour))
    
   Three authors (Chalussay, Rousseau, and Gosse) wrote the comedies that represent the maximum for their period based on at least two features.
   
The minimum for all features:   
   - Number of Dramatic Characters (period one: 7 (three comedies *La Suite du menteur* by Pierre Corneille, *	L’École des filles* by Montfleury, and *Le Mariage sans mariage* by Marcel), period two: 6 (*Le Mari confident* by Destouches and *Le Jeune homme* by Bastide), period three: 6 (*Gabrielle* by Augier))
    - Mobility Coefficient (period one: 19 (*Dom Quixote de la Manche* by Guérin de Bouscal), period two: 29 (*Mélanide* by Nivelle de la Chaussée), period three: *Le Chevalier d'industrie* by Duval)
    - Sigma (period one: 0.6 (*La Mère coquette* by Quinault), period two: 0.63 (*Roséïde ou l'Intrigant* by Dorat), period three: 0.84 (*Le Faux ami de cour, ou le Danger des liaisons* by Michaud))
    - The percentage of polylogues (10.64% (*La Suivante* by Pierre Corneille), period two: 8.7% (*Le Financier* by Delon), period three: 18.46% (*Le Mari à bonnes fortunes, ou La Leçon* by Bonjour))
    - The percentage of monologues (period one: period one: 0% (nine comedies), period two: 3.23% (*Les ayeux chimériques ou la comtesse de Critognac* by Rousseau) , period three: 11.36% (*Gabrielle* by Augier))
    
    
    Two authors (Pierre Corneille and Casimir Bonjour) wrote comedies that represent the period three minimum based on at least two features.

## Part 2. Summary For Individual Playwrights

We calculate the mean number of dramatic characters, mean mobility coefficient, the standard range of the number of speaking characters (sigma), the mean percentage of polylogues, and the mean percentage of monologues. We quanitify how much a playwright prefers to write comedies with more open forms based on all features.

#### Open Form Scores:
1. For all features, we will calculate **the z-score**: $z=(x-u)/s$ where where u is the mean of the feature and s is the standard deviation of this feature. For the percentage of monologues, we will reverse the sign, i.e., will use **- z-score** since it is the lower value of the percentage of monologues that indicates a more open form.
3. The **open form score** will be the mean z-score. For example, if Boisrobert has the following z-scores (0.07, -0.35, 0.41, 0.68) and -z-score for the percentage of monologues of 0.97, his **open form score** = (0.07 -0.35 +  0.41 + 0.68 + 0.97) / 5 ≈ 0.36. The open form scores can be positive and negative, where high positive number indicates the most open form, whereas the high negative number indicates the least open form.

In [35]:
results = playwrights_place(sorted_comedies, with_z_score=True)

## More and Less Prolific Playwrights

We will define the playwrights who wrote at least two five-act comedies in verse as prolific and those who wrote a single five-act verse comedy as less prolific. We will explore how many representatives are in each group and examine if open-form scores differ in those two groups by period.

In [36]:
def authors_by_output(df):
    counts = df.groupby(['last_name', 'first_name']).count()['index']
    playwrights_over_one = counts[counts > 1].index
    playwrights_one = counts[counts == 1].index
    
    return playwrights_over_one, playwrights_one

In [37]:
over_one, only_one = authors_by_output(sorted_comedies)

In [38]:
sorted_above_one = results.loc[over_one, :].sort_values(by='open_form_score', ascending=False)

#### Prolific

In [39]:
print('Number of more prolific playwrigthts:', 
sorted_above_one.shape[0])

Number of more prolific playwrigthts: 41

In [40]:
print('Number of more prolific playwrigthts writing comedies with the open form:', 
sorted_above_one[sorted_above_one.open_form_score >= 0].shape[0])

Number of more prolific playwrigthts writing comedies with the open form: 30

In [41]:
print('Number of more prolific playwrigthts writing comedies with the closed form:', 
sorted_above_one[sorted_above_one.open_form_score < 0].shape[0])

Number of more prolific playwrigthts writing comedies with the closed form: 11

#### Less Prolific

In [42]:
sorted_only_one = results.loc[only_one, :].sort_values(by='open_form_score', ascending=False)

In [43]:
print('Number of less prolific playwrigthts:', 
sorted_only_one.shape[0])

Number of less prolific playwrigthts: 82

In [44]:
print('Number of less prolific playwrigthts writing comedies with the open form:', 
sorted_only_one[sorted_only_one.open_form_score >= 0].shape[0])

Number of less prolific playwrigthts writing comedies with the open form: 32

In [45]:
print('Number of less prolific playwrigthts writing comedies with the closed form:', 
sorted_only_one[sorted_only_one.open_form_score < 0].shape[0])

Number of less prolific playwrigthts writing comedies with the closed form: 50

## Period One: Z-Scores and Open-Form Scores

### Prolific

In [46]:
sorted_above_one_play_period_one = sorted_above_one.loc[period_one.last_name.unique(), :]

In [47]:
sorted_above_one_play_period_one

,,num_present_characters,mobility_coefficient,sigma_iarkho,polylogues,monologues,open_form_score
last_name,first_name,,,,,,
Hauteroche,"Noël Lebreton, sieur de",0.62,1.51,0.41,0.88,0.64,0.81
Boisrobert,François Le Métel de,0.47,-0.86,0.61,1.44,1.67,0.67
La Fontaine,Jean de,2.02,0.09,1.12,0.11,-0.44,0.58
Gillet de la Tessonnerie,N.,0.60,-1.25,0.81,1.26,1.05,0.49
Ouville,Antoine d',-0.29,0.31,0.23,0.76,1.14,0.43
Corneille,Thomas,-0.04,-0.48,-0.22,1.17,1.43,0.37
Scarron,Paul,0.02,-0.69,0.75,0.61,0.55,0.25
Boursault,Edmé,1.22,-0.25,-0.05,0.06,0.27,0.25
Molière,,-0.07,-1.26,0.61,0.00,0.83,0.02
Quinault,Philippe,-0.82,-0.81,-0.48,0.68,1.45,0.00
Mareschal,André,-0.78,-1.31,0.38,1.18,0.17,-0.07
Baron,,0.42,1.04,-0.60,-0.27,-1.03,-0.09
Montfleury,,-0.54,0.20,-0.68,-0.38,-0.12,-0.30
Corneille,Pierre,-0.34,-0.49,-0.77,-1.12,-0.34,-0.61

In [48]:
print('Number of playwrigthts writing comedies with the open form:', 
sorted_above_one_play_period_one[sorted_above_one_play_period_one.open_form_score >= 0].shape[0])

Number of playwrigthts writing comedies with the open form: 10

In [49]:
print('Number of playwrigthts writing comedies with the closed form:', 
sorted_above_one_play_period_one[sorted_above_one_play_period_one.open_form_score < 0].shape[0])

Number of playwrigthts writing comedies with the closed form: 4

### Less Prolific

In [50]:
sorted_only_one_play_period_one = sorted_only_one.loc[period_one.last_name.unique(), :]

In [51]:
sorted_only_one_play_period_one

,,num_present_characters,mobility_coefficient,sigma_iarkho,polylogues,monologues,open_form_score
last_name,first_name,,,,,,
Chalussay,Le Boulanger de,4.96,-2.30,6.64,0.23,0.95,2.10
Guérin de Bouscal,Guyon,0.96,-2.38,2.64,3.34,2.06,1.32
Montfleury; Corneille,; Thomas,2.56,-0.73,0.58,1.34,1.20,0.99
Beys,Charles de,2.02,-0.32,0.95,1.21,1.05,0.98
Robbe,Jacques,1.22,-0.32,0.29,1.57,1.30,0.81
Poisson,Raymond,0.16,-0.49,0.75,1.12,1.80,0.67
Lambert,,-0.64,0.01,0.69,1.03,0.90,0.40
Dorimond,,0.42,-1.14,0.89,1.03,0.75,0.39
Palaprat,"Jean de, sieur de Bigo",0.42,0.34,0.86,0.11,0.13,0.37
du Ryer,Pierre,-0.11,-0.73,0.75,0.52,1.20,0.33
Champmeslé,,-0.11,0.83,-0.42,0.62,0.14,0.21
Chevalier,,0.42,-0.24,0.41,0.23,-0.17,0.13
L. C. D.,,1.22,-1.56,2.67,-0.48,-1.40,0.09
Tristan L'Hermite,François,-0.11,-1.14,0.69,0.56,-0.24,-0.05
Gilbert,Gabriel,-0.64,-0.65,-0.42,0.83,0.11,-0.15
Chappuzeau,Samuel,-0.64,-1.39,0.55,0.13,0.62,-0.15
Marcel,,-1.18,-0.90,0.35,0.06,-0.05,-0.34
Scudery,Georges de,-0.38,-1.23,1.12,-0.54,-0.98,-0.40
Brosse,Abraham,-0.91,-1.23,-0.34,-0.30,0.71,-0.41
Desmarets de Saint-Sorlin,Jean,-0.64,-1.14,-1.00,0.09,0.42,-0.45
L'Estoile,Claude,-0.38,-0.16,-0.25,-0.70,-1.34,-0.57
Chevreau,Urbain,-0.64,-1.47,-0.08,-0.30,-0.54,-0.61
Rotrou,Jean de,-0.38,-0.24,-0.37,-1.18,-1.66,-0.77

In [52]:
print('Number of playwrigthts writing comedies with the open form:', 
sorted_only_one_play_period_one[sorted_only_one_play_period_one.open_form_score >= 0].shape[0])

Number of playwrigthts writing comedies with the open form: 13

In [53]:
print('Number of playwrigthts writing comedies with the closed form:', 
sorted_only_one_play_period_one[sorted_only_one_play_period_one.open_form_score < 0].shape[0])

Number of playwrigthts writing comedies with the closed form: 10

- The ratio of open-form playwrights among the "prolific" authors (with at least 2 comedies): 2.5
- The ratio of open-form playwrights among less prolific authors (with only 1 comedy): 1.3

## Period Two: Z-Scores and Open-Form Scores

In [54]:
sorted_above_one_play_period_two = sorted_above_one.loc[period_two.last_name.unique(), :]

### Prolific

In [55]:
sorted_above_one_play_period_two

,,num_present_characters,mobility_coefficient,sigma_iarkho,polylogues,monologues,open_form_score
last_name,first_name,,,,,,
Demoustier,Charles-Albert,0.02,0.46,2.12,0.55,-0.03,0.62
Dancourt,,-0.11,0.70,0.26,0.68,0.41,0.39
Desforges,,0.02,0.48,0.58,0.02,-0.24,0.17
Collin d’Harleville,Jean-François,-0.16,0.96,-0.20,0.16,0.07,0.17
Regnard,Jean-François,0.16,0.27,0.23,0.17,-0.12,0.14
Voltaire,,-0.31,-0.88,0.26,0.47,0.77,0.06
Du Fresny,Charles,-0.24,0.26,-0.08,0.09,0.20,0.05
Rousseau,Jean-Baptiste,-0.11,-0.84,0.52,0.40,0.18,0.03
Néricault Destouches,,-0.27,0.18,0.09,-0.12,-0.29,-0.08
Baron,,0.42,1.04,-0.60,-0.27,-1.03,-0.09
Piron,Alexis,-0.78,0.79,-0.31,-0.30,-0.68,-0.26
Dorat,Claude-Joseph,0.02,-0.28,0.29,-1.08,-0.53,-0.32
Fabre d'Églantine,,-0.38,-0.03,-0.45,-0.89,-0.69,-0.49
Boissy,Louis de,-0.72,-0.19,-0.77,-0.83,-0.38,-0.58
Nivelle de la Chaussée,Pierre Claude,-0.71,-0.42,-0.57,-1.04,-0.72,-0.69

In [56]:
print('Number of playwrigthts writing comedies with the open form:', 
sorted_above_one_play_period_two[sorted_above_one_play_period_two.open_form_score >= 0].shape[0])

Number of playwrigthts writing comedies with the open form: 8

In [57]:
print('Number of playwrigthts writing comedies with the closed form:', 
sorted_above_one_play_period_two[sorted_above_one_play_period_two.open_form_score < 0].shape[0])

Number of playwrigthts writing comedies with the closed form: 7

### Less Prolific

In [58]:
sorted_only_one_play_period_two = sorted_only_one.loc[period_two.last_name.unique(), :]

In [59]:
sorted_only_one_play_period_two

,,num_present_characters,mobility_coefficient,sigma_iarkho,polylogues,monologues,open_form_score
last_name,first_name,,,,,,
Chauveau,,2.29,3.55,-0.51,-1.29,-0.76,0.66
Cubières-Palmézeaux,Michel de,3.36,0.59,-0.25,-0.20,-0.38,0.62
Romagnesi,Jean-Antoine,0.16,1.99,0.15,0.15,0.04,0.50
Patrat,Joseph,0.42,1.74,-0.05,0.16,-0.53,0.35
Laya,Jean-Louis,0.16,-1.31,0.06,1.28,0.67,0.17
Autreau,Jacques,0.96,1.00,-0.83,-0.70,0.39,0.16
Dampierre de la Salle,,0.16,-0.73,-0.34,0.93,0.34,0.07
Cailhava D'Estendoux,Jean-François,0.16,0.42,0.06,-0.55,-0.26,-0.03
Palissot de Montenoy,Charles,-0.38,-0.16,-0.28,-0.01,0.61,-0.04
Chabanon,Michel Paul Guy de,1.49,0.67,-0.42,-1.10,-0.93,-0.06
Lantier,Étienne François de,-0.38,2.73,-0.63,-0.99,-1.11,-0.08
Ch***,,-0.64,-1.39,0.58,0.39,0.62,-0.09
Bièvre,Marquis de,-0.11,-0.40,-0.05,-0.36,-0.02,-0.19
Moissy,Alexandre-Guillaume de,-0.91,-1.39,0.38,0.13,0.62,-0.23
Dupuis,Amable-Joseph,0.16,-0.24,0.18,-0.47,-0.92,-0.26
Barthe,Nicolas-Thomas,0.16,0.67,-0.02,-0.96,-1.53,-0.34
Billard-Dumonceau,Edme,-1.18,-0.49,0.20,0.27,-0.60,-0.36
de Neufchâteau,Nicolas François,-0.64,2.07,-1.00,-0.99,-1.31,-0.37
de Rochefort,Guillaume Dubois,-0.64,0.59,-0.85,-0.78,-0.38,-0.41
Campistron,Jean Galbert de,-0.64,-0.81,0.32,-0.65,-0.29,-0.41
Fagan,Barthélemy-Christophe,-0.64,0.01,0.23,-0.80,-0.96,-0.43
Montesson,Madame de,0.16,-0.16,-0.88,-1.05,-0.37,-0.46
Rochon de Chabannes,Marc-Antoine-Jacques,-0.91,0.59,-0.65,-0.78,-0.78,-0.51
Borel,,-0.11,0.75,-1.11,-1.28,-1.07,-0.56
Dubuisson,Pierre-Ulric,-0.38,-1.06,-0.17,-0.45,-0.81,-0.57
Bouy; Fétiq,,-0.38,0.17,-1.43,-1.68,0.27,-0.61
Reynier,L.,-0.38,0.09,-0.65,-1.00,-1.36,-0.66
Descazeaux Des Granges,,-0.38,-0.07,-0.85,-1.09,-1.27,-0.73
La Noue,Jean-Baptiste,-0.64,0.09,-1.40,-1.16,-0.67,-0.76
Gresset,Jean-Baptiste,-0.64,0.67,-1.11,-2.10,-0.73,-0.78
Courtial,,-0.91,-1.14,-0.31,-0.38,-1.55,-0.86
Imbert,Barthélemy,-0.64,1.24,-1.23,-1.69,-2.19,-0.90
Pieyre,Alexandre,-0.64,1.49,-1.25,-1.87,-2.34,-0.92
Vigée,Louis-Jean-Baptiste-Étienne,-0.38,-0.49,-0.77,-1.63,-1.40,-0.93
Delon,,0.69,-0.16,-1.63,-2.26,-1.34,-0.94
Bret,Antoine,-1.18,0.09,-1.11,-1.49,-1.59,-1.06
Bastide,Jean-François de,-1.44,-0.49,-1.08,-1.44,-2.46,-1.38

In [60]:
print('Number of playwrigthts writing comedies with the open form:', 
sorted_only_one_play_period_two[sorted_only_one_play_period_two.open_form_score >= 0].shape[0])

Number of playwrigthts writing comedies with the open form: 7

In [61]:
print('Number of playwrigthts writing comedies with the closed form:', 
sorted_only_one_play_period_two[sorted_only_one_play_period_two.open_form_score < 0].shape[0])

Number of playwrigthts writing comedies with the closed form: 30

- The ratio of open-form playwrights among the "prolific" authors (with at least 2 comedies): 1.14
- The ratio of open-form playwrights among less prolific authors (with only 1 comedy): 0.23, for every open-form playwright there are over 4 playwrights who prefer closed forms.

## Period Three: Z-Scores and Open-Form Scores

### Playwrights Who Wrote At Least Two Five-Act Verse Comedies

In [62]:
sorted_above_one_play_period_three = sorted_above_one.loc[period_three.last_name.unique(), :]

In [63]:
sorted_above_one_play_period_three

,,num_present_characters,mobility_coefficient,sigma_iarkho,polylogues,monologues,open_form_score
last_name,first_name,,,,,,
Gosse,Étienne,2.02,2.27,1.35,-0.19,-0.35,1.02
Grille,François-Joseph,3.22,1.00,-0.20,0.19,0.39,0.92
Merville,,0.29,0.42,0.81,1.71,0.50,0.75
Delavigne,Casimir,0.82,-0.11,1.26,0.02,-0.26,0.35
Epagny,Violet d',-0.38,0.59,0.66,0.46,0.03,0.27
Picard,Louis-Benoît,0.22,0.85,-0.11,0.15,0.21,0.26
Étienne,Charles-Guillaume,-0.11,0.92,-0.48,0.42,0.55,0.26
Bonjour,Casimir,-0.00,1.52,0.81,-0.16,-0.87,0.26
Théaulon,Emmanuel,-0.11,0.30,0.72,0.11,-0.18,0.17
Collin d’Harleville,Jean-François,-0.16,0.96,-0.20,0.16,0.07,0.17
Riboutté,François-Louis,-0.38,-0.27,0.95,0.49,-0.11,0.14
Rey,Charles,0.02,1.24,0.23,-0.59,-0.27,0.13
Andrieux,François,-0.11,0.13,0.81,-0.20,-0.07,0.11
Duval,Alexandre,-0.80,-0.12,-0.08,0.24,-0.29,-0.21
Fabre d'Églantine,,-0.38,-0.03,-0.45,-0.89,-0.69,-0.49

In [64]:
print('Number of playwrigthts writing comedies with the open form:', 
sorted_above_one_play_period_three[sorted_above_one_play_period_three.open_form_score >= 0].shape[0])

Number of playwrigthts writing comedies with the open form: 13

In [65]:
print('Number of playwrigthts writing comedies with the closed form:', 
sorted_above_one_play_period_three[sorted_above_one_play_period_three.open_form_score < 0].shape[0])

Number of playwrigthts writing comedies with the closed form: 2

### Less Prolific

In [66]:
sorted_only_one_play_period_three = sorted_only_one.loc[period_three.last_name.unique(), :]

In [67]:
sorted_only_one_play_period_three

,,num_present_characters,mobility_coefficient,sigma_iarkho,polylogues,monologues,open_form_score
last_name,first_name,,,,,,
Girardin,Delphine de,3.89,0.09,2.58,-0.19,-0.67,1.14
Viennet,Jean-Pons-Guillaume,-0.11,1.41,1.84,0.97,0.34,0.89
Roux,,0.42,0.01,1.12,1.86,0.43,0.77
Dalban,Pierre-Jean-Baptiste,0.42,0.42,1.01,0.50,0.59,0.59
Bernay,Camille,1.49,1.57,0.15,0.02,-0.44,0.56
de Planard,Eugène,0.69,0.42,0.41,0.50,0.59,0.52
Princeteau,Th.,0.42,-0.16,1.46,-0.18,-0.37,0.23
Poya,Pierre,0.96,-0.07,-0.17,-0.07,0.16,0.16
La Ville de Mirmon,Jean de,-0.38,0.09,0.29,0.46,0.24,0.14
Mery,Joseph,0.42,0.26,-0.08,-0.14,0.09,0.11
Charlemagne,Jean-Armand,-0.11,1.99,-0.20,-0.85,-0.42,0.08
Triquet,C,0.42,0.50,0.09,-0.30,-0.42,0.06
Drap-Arnaud,,-0.11,1.24,-0.48,-0.30,-0.60,-0.05
Mennechet,Édouard,-0.38,0.34,-0.22,-0.35,0.34,-0.05
La Ville de Mirmont,Jean de,-0.38,0.75,-0.05,-0.44,-0.29,-0.08
Leroy,Onésime,-0.38,1.16,0.15,-0.64,-1.36,-0.21
Augier,Émile,-1.44,-0.32,-0.34,-0.06,0.79,-0.27
Dalban,Pierre Jean Baptiste,-0.64,0.09,-0.02,-0.03,-0.90,-0.30
Roucher,J.F.,-0.91,0.67,-0.17,-0.39,-1.33,-0.43
Michaud,L. G.,-0.11,-1.06,-1.08,-0.22,0.15,-0.46
Capuran,Louis-Benoit,-0.64,-0.49,-0.88,-0.68,-1.13,-0.76
Ancien militaire,,-0.64,0.34,-0.51,-1.27,-1.81,-0.78

In [68]:
print('Number of playwrigthts writing comedies with the open form:', 
sorted_only_one_play_period_three[sorted_only_one_play_period_three.open_form_score >= 0].shape[0])

Number of playwrigthts writing comedies with the open form: 12

In [69]:
print('Number of playwrigthts writing comedies with the closed form:', 
sorted_only_one_play_period_three[sorted_only_one_play_period_three.open_form_score < 0].shape[0])

Number of playwrigthts writing comedies with the closed form: 10

- The ratio of open-form playwrights among the "prolific" authors (with at least 2 comedies): 6.5
- The ratio of open-form playwrights among less prolific authors (with only 1 comedy): 1.2.

## Part 3. The Evolution of Jean-François Collin d’Harleville (1755-805)

In [70]:
print('Number dramatic characters in period two:',  
      round(period_two[period_two.last_name=='Collin d’Harleville']['num_present_characters'].mean(), 2))
print('Number dramatic characters in period three:', 
      period_three[period_three.last_name=='Collin d’Harleville']['num_present_characters'].mean())

Number dramatic characters in period two: 10.67
Number dramatic characters in period three: 11.0

In [71]:
print('Mobility coefficient in period two:',
      round(period_two[period_two.last_name=='Collin d’Harleville']['mobility_coefficient'].mean(), 2))
print('Mobility coefficient in period three:', 
      period_three[period_three.last_name=='Collin d’Harleville']['mobility_coefficient'].mean())

Mobility coefficient in period two: 60.33
Mobility coefficient in period three: 58.5

In [72]:
print('Standard range of the number of speaking characters in period two:', 
      period_two[period_two.last_name=='Collin d’Harleville'].pipe(speech_distribution_by_period).pipe(sigma_iarkho))
print('Standard range of the number of speaking characters in period three:',
       period_three[period_three.last_name=='Collin d’Harleville'].pipe(speech_distribution_by_period).pipe(sigma_iarkho))

Standard range of the number of speaking characters in period two: 1.07
Standard range of the number of speaking characters in period three: 1.24

In [73]:
print('The percentage of polylogues in period two:', 
     round(period_two[period_two.last_name=='Collin d’Harleville']['percentage_polylogues'].mean(), 2))
print('The percentage of polylogues in period three:',
     round(period_three[period_three.last_name=='Collin d’Harleville']['percentage_polylogues'].mean(), 2))

The percentage of polylogues in period two: 36.26
The percentage of polylogues in period three: 43.22

In [74]:
print('The percentage of monologues in period two:',
     round(period_two[period_two.last_name=='Collin d’Harleville']['percentage_monologues'].mean(), 2))
print('The percentage of monologues in period three:',
     round(period_three[period_three.last_name=='Collin d’Harleville']['percentage_monologues'].mean(), 2))

The percentage of monologues in period two: 18.99
The percentage of monologues in period three: 16.18

Collin d’Harleville's comedies spanned two periods: two and three. He tended to be amongs moderately experimental playwrights (his open-form score is 0.17).  The evolution of his comedies is fascinating as it echoes broader literary trends in reguards to all features except for mobility coefficient. The number of dramatic characters increases from period two (10.64) to period three (11.96). The mean number of dramatic characters in Collin d’Harleville's comedies increases from 10.67 in period two to 11 in period three. Standard range of the number of speaking characters increases from 1.12 in period two to 1.33 in period three. The standard range in Collin d’Harleville's comedies increases from 1.07 in period two to 1.24 in period three. The percentage of polylogues increases from 31.37 in period two to 37.69 in period three. The percentage of polylogues increases in Collin d’Harleville's comedies increases from 36.26 in period two to 43.22 in period three. The percentage of monologues decreases from 22.08 in period two to 20.35 in period three. The percentage of monologues in Collin d’Harleville's comedies decreases from 18.99 to 16.18. The mobility coefficient increases from 49.56 in period two to 54.31 in period three. Collin d’Harleville's comedies, however, tend to have higher mobility coefficient in period two (60.33) and slightly lower in period three (58.5), but in both cases, he is above the mean moblity coefficient of the period.

## Conclusions:

1. For each feature and each time period, we identified the comedies that represent the maxim and the minimum as well as such comedies that are the closest to the mean.
2. We discovered that that there are at least nine comedies without monologues (all in period one).
3. Three authors (Chalussay, Rousseau, and Gosse) wrote the comedies that represent the maximum for their period based on at least two features.
4. Two authors (Pierre Corneille and Casimir Bonjour) wrote comedies that represent their period minimum based on at least two features.
5. We analyzed Jean-François Collin d’Harleville's style as it evolved over two periods and echoed wider literary trends. 
6. We introduced **"open-form" scores** that capture how experimental each playwright in the context of the entire history of the French five-act comedy in verse. In aggregate, the number of more experimental and more conservative playwrights was balanced: 62 to 61. However, the situation became more complex as we subdivided the playwrights into more prolific and less prolific and analyzed them by periods.
    - **Period one**. In the prolific subgroup, the number of experimental playwrights is 2.5 as high as the number of classical playwrights (10 vs. 4). In the less prolific subgroup, the number of experimental playwrights is 1.3 as high as the number of classical playwrights (13 vs. 10).
    - **Period two**. In the prolific subgroup, the number of experimental playwrights is 1.14 as high as the number of classical playwrights (8 vs. 7). In the less prolific subgroup, the opposite is true: the number of conservative playwrights is over 4 times as high as the number of experimental playwrights (7 vs. 30).
    - **Period three**. In the prolific subgroup, the number of experimental playwrights is 6.5 as high as the number of conservative playwrights (13 vs. 2). In the less prolific subgroup, the number of experimental playwrights is 1.2 as high as the number of conservative playwrights (12 vs. 10). 
    Overall, the prolific playwrights are the minority: there are twice as many playwrights who wrote just one five-act verse comedy (41 vs 82 less prolific). The prolific playwrights tend to be more experimental (30 experimental authors vs. 11 conservative) than the playwrights in the less prolific group (32 experimental vs. 52 conservative), which is true for every period examined.

## Appendix

In [75]:
results_means = playwrights_place(sorted_comedies, with_z_score=False).loc[results.index, :]
results_means['open_form_score'] = results.open_form_score.tolist()

### Raw Numbers and Open-Form Scores

In [76]:
pd.set_option('display.max_rows', 200)
display(results_means)

,,num_present_characters,mobility_coefficient,sigma_iarkho,polylogues,monologues,open_form_score
last_name,first_name,,,,,,
Chalussay,Le Boulanger de,30.00,20.00,3.54,40.00,10.00,2.10
Guérin de Bouscal,Guyon,15.00,19.00,2.14,78.95,0.00,1.32
Girardin,Delphine de,26.00,49.00,2.12,34.69,24.49,1.14
Gosse,Étienne,19.00,75.50,1.69,34.74,21.63,1.02
Montfleury; Corneille,; Thomas,21.00,39.00,1.42,53.85,7.69,0.99
Beys,Charles de,19.00,44.00,1.55,52.27,9.09,0.98
Grille,François-Joseph,23.50,60.00,1.15,39.39,14.98,0.92
Viennet,Jean-Pons-Guillaume,11.00,65.00,1.86,49.23,15.38,0.89
Robbe,Jacques,16.00,44.00,1.32,56.82,6.82,0.81
Hauteroche,"Noël Lebreton, sieur de",13.75,66.25,1.36,48.12,12.76,0.81
Roux,,13.00,48.00,1.61,60.42,14.58,0.77
Merville,,12.50,53.00,1.50,58.58,14.02,0.75
Boisrobert,François Le Métel de,13.17,37.50,1.43,55.15,3.47,0.67
Poisson,Raymond,12.00,42.00,1.48,51.16,2.33,0.67
Chauveau,,20.00,91.00,1.04,20.88,25.27,0.66
Cubières-Palmézeaux,Michel de,24.00,55.00,1.13,34.55,21.82,0.62
Demoustier,Charles-Albert,11.50,53.50,1.96,43.92,18.71,0.62
Dalban,Pierre-Jean-Baptiste,13.00,53.00,1.57,43.40,13.21,0.59
La Fontaine,Jean de,19.00,49.00,1.61,38.40,22.40,0.58
Bernay,Camille,17.00,67.00,1.27,37.31,22.39,0.56
de Planard,Eugène,14.00,53.00,1.36,43.40,13.21,0.52
Romagnesi,Jean-Antoine,12.00,72.00,1.27,38.89,18.06,0.50
Gillet de la Tessonnerie,N.,13.67,32.67,1.50,52.84,9.03,0.49
Ouville,Antoine d',10.33,51.67,1.30,46.57,8.26,0.43
Lambert,,9.00,48.00,1.46,50.00,10.42,0.40
Dorimond,,13.00,34.00,1.53,50.00,11.76,0.39
Dancourt,,11.00,56.33,1.31,45.60,14.80,0.39
Corneille,Thomas,11.25,42.08,1.14,51.76,5.69,0.37
Palaprat,"Jean de, sieur de Bigo",13.00,52.00,1.52,38.46,17.31,0.37
Delavigne,Casimir,14.50,46.50,1.66,37.35,20.82,0.35
Patrat,Joseph,13.00,69.00,1.20,39.13,23.19,0.35
du Ryer,Pierre,11.00,39.00,1.48,43.59,7.69,0.33
Epagny,Violet d',10.00,55.00,1.45,42.82,18.19,0.27
Picard,Louis-Benoît,12.25,58.25,1.18,39.01,16.55,0.26
Étienne,Charles-Guillaume,11.00,59.00,1.05,42.40,13.51,0.26
Bonjour,Casimir,11.40,66.40,1.50,35.10,26.24,0.26
Boursault,Edmé,16.00,44.80,1.20,37.86,16.03,0.25
Scarron,Paul,11.50,39.50,1.48,44.72,13.57,0.25
Princeteau,Th.,13.00,46.00,1.73,34.78,21.74,0.23
Champmeslé,,11.00,58.00,1.07,44.83,17.24,0.21
Théaulon,Emmanuel,11.00,51.50,1.47,38.41,20.12,0.17
Collin d’Harleville,Jean-François,10.80,59.60,1.15,39.04,17.86,0.17
Desforges,,11.50,53.75,1.42,37.30,20.61,0.17
Laya,Jean-Louis,12.00,32.00,1.24,53.12,12.50,0.17
Autreau,Jacques,15.00,60.00,0.93,28.33,15.00,0.16
Poya,Pierre,15.00,47.00,1.16,36.17,17.02,0.16
Riboutté,François-Louis,10.00,44.67,1.55,43.22,19.47,0.14
Regnard,Jean-François,12.00,51.20,1.30,39.22,19.52,0.14
La Ville de Mirmon,Jean de,10.00,49.00,1.32,42.86,16.33,0.14
Chevalier,,13.00,45.00,1.36,40.00,20.00,0.13
Rey,Charles,11.50,63.00,1.30,29.67,20.92,0.13
Mery,Joseph,13.00,51.00,1.19,35.29,17.65,0.11
Andrieux,François,11.00,49.50,1.50,34.62,19.12,0.11
L. C. D.,,16.00,29.00,2.15,31.03,31.03,0.09
Charlemagne,Jean-Armand,11.00,72.00,1.15,26.39,22.22,0.08
Dampierre de la Salle,,12.00,39.00,1.10,48.72,15.38,0.07
Voltaire,,10.25,37.25,1.31,42.94,11.60,0.06
Triquet,C,13.00,54.00,1.25,33.33,22.22,0.06
Du Fresny,Charles,10.50,51.00,1.19,38.24,16.67,0.05
Rousseau,Jean-Baptiste,11.00,37.75,1.40,42.10,16.86,0.03
Molière,,11.14,32.57,1.43,37.10,11.06,0.02
Quinault,Philippe,8.33,38.00,1.05,45.61,5.52,0.00
Cailhava D'Estendoux,Jean-François,12.00,53.00,1.24,30.19,20.75,-0.03
Palissot de Montenoy,Charles,10.00,46.00,1.12,36.96,13.04,-0.04
Mennechet,Édouard,10.00,52.00,1.14,32.69,15.38,-0.05
Tristan L'Hermite,François,11.00,34.00,1.46,44.12,20.59,-0.05
Drap-Arnaud,,11.00,63.00,1.05,33.33,23.81,-0.05
Chabanon,Michel Paul Guy de,17.00,56.00,1.07,23.21,26.79,-0.06
Mareschal,André,8.50,32.00,1.35,51.86,16.96,-0.07
La Ville de Mirmont,Jean de,10.00,57.00,1.20,31.58,21.05,-0.08
Néricault Destouches,,10.38,50.08,1.25,35.52,21.04,-0.08
Lantier,Étienne François de,10.00,81.00,1.00,24.69,28.40,-0.08
Ch***,,9.00,31.00,1.42,41.94,12.90,-0.09
Baron,,13.00,60.50,1.01,33.74,27.72,-0.09
Chappuzeau,Samuel,9.00,31.00,1.41,38.71,12.90,-0.15
Gilbert,Gabriel,9.00,40.00,1.07,47.50,17.50,-0.15
Bièvre,Marquis de,11.00,43.00,1.20,32.56,18.60,-0.19
Leroy,Onésime,10.00,62.00,1.27,29.03,30.65,-0.21
Duval,Alexandre,8.40,46.40,1.19,40.14,21.09,-0.21
Moissy,Alexandre-Guillaume de,8.00,31.00,1.35,38.71,12.90,-0.23
Dupuis,Amable-Joseph,12.00,45.00,1.28,31.11,26.67,-0.26
Piron,Alexis,8.50,57.50,1.11,33.31,24.54,-0.26
Augier,Émile,6.00,44.00,1.10,36.36,11.36,-0.27
Montfleury,,9.38,50.38,0.98,32.27,19.52,-0.30
Dalban,Pierre Jean Baptiste,9.00,49.00,1.21,36.73,26.53,-0.30
Dorat,Claude-Joseph,11.50,44.50,1.32,23.56,23.21,-0.32
Marcel,,7.00,37.00,1.34,37.84,18.92,-0.34
Barthe,Nicolas-Thomas,12.00,56.00,1.21,25.00,32.14,-0.34
Billard-Dumonceau,Edme,7.00,42.00,1.29,40.48,23.81,-0.36
de Neufchâteau,Nicolas François,9.00,73.00,0.87,24.66,30.14,-0.37
Scudery,Georges de,10.00,33.00,1.61,30.30,27.27,-0.40
de Rochefort,Guillaume Dubois,9.00,55.00,0.92,27.27,21.82,-0.41
Brosse,Abraham,8.00,33.00,1.10,33.33,12.12,-0.41
Campistron,Jean Galbert de,9.00,38.00,1.33,28.95,21.05,-0.41
Roucher,J.F.,8.00,56.00,1.16,32.14,30.36,-0.43
Fagan,Barthélemy-Christophe,9.00,48.00,1.30,27.08,27.08,-0.43
Desmarets de Saint-Sorlin,Jean,9.00,34.00,0.87,38.24,14.71,-0.45
Montesson,Madame de,12.00,46.00,0.91,23.91,21.74,-0.46
Michaud,L. G.,11.00,35.00,0.84,34.29,17.14,-0.46
Fabre d'Églantine,,10.00,47.50,1.06,25.88,24.68,-0.49
Rochon de Chabannes,Marc-Antoine-Jacques,8.00,55.00,0.99,27.27,25.45,-0.51
Borel,,11.00,57.00,0.83,21.05,28.07,-0.56
L'Estoile,Claude,10.00,46.00,1.13,28.26,30.43,-0.57
Dubuisson,Pierre-Ulric,10.00,35.00,1.16,31.43,25.71,-0.57
Boissy,Louis de,8.71,45.57,0.95,26.61,21.89,-0.58
Corneille,Pierre,10.12,42.00,0.95,23.08,21.49,-0.61
Chevreau,Urbain,9.00,30.00,1.19,33.33,23.33,-0.61
Bouy; Fétiq,,10.00,50.00,0.72,16.00,16.00,-0.61
Reynier,L.,10.00,49.00,0.99,24.49,30.61,-0.66
Nivelle de la Chaussée,Pierre Claude,8.75,42.75,1.02,24.03,24.91,-0.69
Descazeaux Des Granges,,10.00,47.00,0.92,23.40,29.79,-0.73
La Noue,Jean-Baptiste,9.00,49.00,0.73,22.45,24.49,-0.76
Capuran,Louis-Benoit,9.00,42.00,0.91,28.57,28.57,-0.76
Rotrou,Jean de,10.00,45.00,1.09,22.22,33.33,-0.77
Ancien militaire,,9.00,52.00,1.04,21.15,34.62,-0.78
Gresset,Jean-Baptiste,9.00,56.00,0.83,10.71,25.00,-0.78
Courtial,,8.00,34.00,1.11,32.35,32.35,-0.86
Imbert,Barthélemy,9.00,63.00,0.79,15.87,38.10,-0.90
Pieyre,Alexandre,9.00,66.00,0.78,13.64,39.39,-0.92
Vigée,Louis-Jean-Baptiste-Étienne,10.00,42.00,0.95,16.67,30.95,-0.93
Delon,,14.00,46.00,0.65,8.70,30.43,-0.94
Bret,Antoine,7.00,49.00,0.83,18.37,32.65,-1.06
Bastide,Jean-François de,6.00,42.00,0.84,19.05,40.48,-1.38

### Z-Scores and Open-Form Scores

In [77]:
pd.set_option('display.max_rows', 200)
results

,,num_present_characters,mobility_coefficient,sigma_iarkho,polylogues,monologues,open_form_score
last_name,first_name,,,,,,
Chalussay,Le Boulanger de,4.96,-2.30,6.64,0.23,0.95,2.10
Guérin de Bouscal,Guyon,0.96,-2.38,2.64,3.34,2.06,1.32
Girardin,Delphine de,3.89,0.09,2.58,-0.19,-0.67,1.14
Gosse,Étienne,2.02,2.27,1.35,-0.19,-0.35,1.02
Montfleury; Corneille,; Thomas,2.56,-0.73,0.58,1.34,1.20,0.99
Beys,Charles de,2.02,-0.32,0.95,1.21,1.05,0.98
Grille,François-Joseph,3.22,1.00,-0.20,0.19,0.39,0.92
Viennet,Jean-Pons-Guillaume,-0.11,1.41,1.84,0.97,0.34,0.89
Robbe,Jacques,1.22,-0.32,0.29,1.57,1.30,0.81
Hauteroche,"Noël Lebreton, sieur de",0.62,1.51,0.41,0.88,0.64,0.81
Roux,,0.42,0.01,1.12,1.86,0.43,0.77
Merville,,0.29,0.42,0.81,1.71,0.50,0.75
Boisrobert,François Le Métel de,0.47,-0.86,0.61,1.44,1.67,0.67
Poisson,Raymond,0.16,-0.49,0.75,1.12,1.80,0.67
Chauveau,,2.29,3.55,-0.51,-1.29,-0.76,0.66
Cubières-Palmézeaux,Michel de,3.36,0.59,-0.25,-0.20,-0.38,0.62
Demoustier,Charles-Albert,0.02,0.46,2.12,0.55,-0.03,0.62
Dalban,Pierre-Jean-Baptiste,0.42,0.42,1.01,0.50,0.59,0.59
La Fontaine,Jean de,2.02,0.09,1.12,0.11,-0.44,0.58
Bernay,Camille,1.49,1.57,0.15,0.02,-0.44,0.56
de Planard,Eugène,0.69,0.42,0.41,0.50,0.59,0.52
Romagnesi,Jean-Antoine,0.16,1.99,0.15,0.15,0.04,0.50
Gillet de la Tessonnerie,N.,0.60,-1.25,0.81,1.26,1.05,0.49
Ouville,Antoine d',-0.29,0.31,0.23,0.76,1.14,0.43
Lambert,,-0.64,0.01,0.69,1.03,0.90,0.40
Dorimond,,0.42,-1.14,0.89,1.03,0.75,0.39
Dancourt,,-0.11,0.70,0.26,0.68,0.41,0.39
Corneille,Thomas,-0.04,-0.48,-0.22,1.17,1.43,0.37
Palaprat,"Jean de, sieur de Bigo",0.42,0.34,0.86,0.11,0.13,0.37
Delavigne,Casimir,0.82,-0.11,1.26,0.02,-0.26,0.35
Patrat,Joseph,0.42,1.74,-0.05,0.16,-0.53,0.35
du Ryer,Pierre,-0.11,-0.73,0.75,0.52,1.20,0.33
Epagny,Violet d',-0.38,0.59,0.66,0.46,0.03,0.27
Picard,Louis-Benoît,0.22,0.85,-0.11,0.15,0.21,0.26
Étienne,Charles-Guillaume,-0.11,0.92,-0.48,0.42,0.55,0.26
Bonjour,Casimir,-0.00,1.52,0.81,-0.16,-0.87,0.26
Boursault,Edmé,1.22,-0.25,-0.05,0.06,0.27,0.25
Scarron,Paul,0.02,-0.69,0.75,0.61,0.55,0.25
Princeteau,Th.,0.42,-0.16,1.46,-0.18,-0.37,0.23
Champmeslé,,-0.11,0.83,-0.42,0.62,0.14,0.21
Théaulon,Emmanuel,-0.11,0.30,0.72,0.11,-0.18,0.17
Collin d’Harleville,Jean-François,-0.16,0.96,-0.20,0.16,0.07,0.17
Desforges,,0.02,0.48,0.58,0.02,-0.24,0.17
Laya,Jean-Louis,0.16,-1.31,0.06,1.28,0.67,0.17
Autreau,Jacques,0.96,1.00,-0.83,-0.70,0.39,0.16
Poya,Pierre,0.96,-0.07,-0.17,-0.07,0.16,0.16
Riboutté,François-Louis,-0.38,-0.27,0.95,0.49,-0.11,0.14
Regnard,Jean-François,0.16,0.27,0.23,0.17,-0.12,0.14
La Ville de Mirmon,Jean de,-0.38,0.09,0.29,0.46,0.24,0.14
Chevalier,,0.42,-0.24,0.41,0.23,-0.17,0.13
Rey,Charles,0.02,1.24,0.23,-0.59,-0.27,0.13
Mery,Joseph,0.42,0.26,-0.08,-0.14,0.09,0.11
Andrieux,François,-0.11,0.13,0.81,-0.20,-0.07,0.11
L. C. D.,,1.22,-1.56,2.67,-0.48,-1.40,0.09
Charlemagne,Jean-Armand,-0.11,1.99,-0.20,-0.85,-0.42,0.08
Dampierre de la Salle,,0.16,-0.73,-0.34,0.93,0.34,0.07
Voltaire,,-0.31,-0.88,0.26,0.47,0.77,0.06
Triquet,C,0.42,0.50,0.09,-0.30,-0.42,0.06
Du Fresny,Charles,-0.24,0.26,-0.08,0.09,0.20,0.05
Rousseau,Jean-Baptiste,-0.11,-0.84,0.52,0.40,0.18,0.03
Molière,,-0.07,-1.26,0.61,0.00,0.83,0.02
Quinault,Philippe,-0.82,-0.81,-0.48,0.68,1.45,0.00
Cailhava D'Estendoux,Jean-François,0.16,0.42,0.06,-0.55,-0.26,-0.03
Palissot de Montenoy,Charles,-0.38,-0.16,-0.28,-0.01,0.61,-0.04
Mennechet,Édouard,-0.38,0.34,-0.22,-0.35,0.34,-0.05
Tristan L'Hermite,François,-0.11,-1.14,0.69,0.56,-0.24,-0.05
Drap-Arnaud,,-0.11,1.24,-0.48,-0.30,-0.60,-0.05
Chabanon,Michel Paul Guy de,1.49,0.67,-0.42,-1.10,-0.93,-0.06
Mareschal,André,-0.78,-1.31,0.38,1.18,0.17,-0.07
La Ville de Mirmont,Jean de,-0.38,0.75,-0.05,-0.44,-0.29,-0.08
Néricault Destouches,,-0.27,0.18,0.09,-0.12,-0.29,-0.08
Lantier,Étienne François de,-0.38,2.73,-0.63,-0.99,-1.11,-0.08
Ch***,,-0.64,-1.39,0.58,0.39,0.62,-0.09
Baron,,0.42,1.04,-0.60,-0.27,-1.03,-0.09
Chappuzeau,Samuel,-0.64,-1.39,0.55,0.13,0.62,-0.15
Gilbert,Gabriel,-0.64,-0.65,-0.42,0.83,0.11,-0.15
Bièvre,Marquis de,-0.11,-0.40,-0.05,-0.36,-0.02,-0.19
Leroy,Onésime,-0.38,1.16,0.15,-0.64,-1.36,-0.21
Duval,Alexandre,-0.80,-0.12,-0.08,0.24,-0.29,-0.21
Moissy,Alexandre-Guillaume de,-0.91,-1.39,0.38,0.13,0.62,-0.23
Dupuis,Amable-Joseph,0.16,-0.24,0.18,-0.47,-0.92,-0.26
Piron,Alexis,-0.78,0.79,-0.31,-0.30,-0.68,-0.26
Augier,Émile,-1.44,-0.32,-0.34,-0.06,0.79,-0.27
Montfleury,,-0.54,0.20,-0.68,-0.38,-0.12,-0.30
Dalban,Pierre Jean Baptiste,-0.64,0.09,-0.02,-0.03,-0.90,-0.30
Dorat,Claude-Joseph,0.02,-0.28,0.29,-1.08,-0.53,-0.32
Marcel,,-1.18,-0.90,0.35,0.06,-0.05,-0.34
Barthe,Nicolas-Thomas,0.16,0.67,-0.02,-0.96,-1.53,-0.34
Billard-Dumonceau,Edme,-1.18,-0.49,0.20,0.27,-0.60,-0.36
de Neufchâteau,Nicolas François,-0.64,2.07,-1.00,-0.99,-1.31,-0.37
Scudery,Georges de,-0.38,-1.23,1.12,-0.54,-0.98,-0.40
de Rochefort,Guillaume Dubois,-0.64,0.59,-0.85,-0.78,-0.38,-0.41
Brosse,Abraham,-0.91,-1.23,-0.34,-0.30,0.71,-0.41
Campistron,Jean Galbert de,-0.64,-0.81,0.32,-0.65,-0.29,-0.41
Roucher,J.F.,-0.91,0.67,-0.17,-0.39,-1.33,-0.43
Fagan,Barthélemy-Christophe,-0.64,0.01,0.23,-0.80,-0.96,-0.43
Desmarets de Saint-Sorlin,Jean,-0.64,-1.14,-1.00,0.09,0.42,-0.45
Montesson,Madame de,0.16,-0.16,-0.88,-1.05,-0.37,-0.46
Michaud,L. G.,-0.11,-1.06,-1.08,-0.22,0.15,-0.46
Fabre d'Églantine,,-0.38,-0.03,-0.45,-0.89,-0.69,-0.49
Rochon de Chabannes,Marc-Antoine-Jacques,-0.91,0.59,-0.65,-0.78,-0.78,-0.51
Borel,,-0.11,0.75,-1.11,-1.28,-1.07,-0.56
L'Estoile,Claude,-0.38,-0.16,-0.25,-0.70,-1.34,-0.57
Dubuisson,Pierre-Ulric,-0.38,-1.06,-0.17,-0.45,-0.81,-0.57
Boissy,Louis de,-0.72,-0.19,-0.77,-0.83,-0.38,-0.58
Corneille,Pierre,-0.34,-0.49,-0.77,-1.12,-0.34,-0.61
Chevreau,Urbain,-0.64,-1.47,-0.08,-0.30,-0.54,-0.61
Bouy; Fétiq,,-0.38,0.17,-1.43,-1.68,0.27,-0.61
Reynier,L.,-0.38,0.09,-0.65,-1.00,-1.36,-0.66
Nivelle de la Chaussée,Pierre Claude,-0.71,-0.42,-0.57,-1.04,-0.72,-0.69
Descazeaux Des Granges,,-0.38,-0.07,-0.85,-1.09,-1.27,-0.73
La Noue,Jean-Baptiste,-0.64,0.09,-1.40,-1.16,-0.67,-0.76
Capuran,Louis-Benoit,-0.64,-0.49,-0.88,-0.68,-1.13,-0.76
Rotrou,Jean de,-0.38,-0.24,-0.37,-1.18,-1.66,-0.77
Ancien militaire,,-0.64,0.34,-0.51,-1.27,-1.81,-0.78
Gresset,Jean-Baptiste,-0.64,0.67,-1.11,-2.10,-0.73,-0.78
Courtial,,-0.91,-1.14,-0.31,-0.38,-1.55,-0.86
Imbert,Barthélemy,-0.64,1.24,-1.23,-1.69,-2.19,-0.90
Pieyre,Alexandre,-0.64,1.49,-1.25,-1.87,-2.34,-0.92
Vigée,Louis-Jean-Baptiste-Étienne,-0.38,-0.49,-0.77,-1.63,-1.40,-0.93
Delon,,0.69,-0.16,-1.63,-2.26,-1.34,-0.94
Bret,Antoine,-1.18,0.09,-1.11,-1.49,-1.59,-1.06
Bastide,Jean-François de,-1.44,-0.49,-1.08,-1.44,-2.46,-1.38

In [78]:
print('Number of playwrigthts writing comedies with the open form:', 
results[results.open_form_score >=0].shape[0])

Number of playwrigthts writing comedies with the open form: 62

In [79]:
print('Number of playwrigthts writing comedies with the closed form:', 
results[results.open_form_score  < 0].shape[0])

Number of playwrigthts writing comedies with the closed form: 61